{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'concerts/concerts.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="actions">
        {% if is_archive %}
            <a href="?">Toekomst</a>
        {% else %}
            <a href="?archive">Archief</a>
        {% endif %}
    </div>
    <div class="concerts">
        {% for concert in concerts %}
            <div class="concert">
                <a href="{% pageurl concert %}">
                    <h3>{{ concert.concert_date }}</h3>
                    <h2>{{ concert.title }}</h2>
                    <p>{{ concert.introduction }}</p>
                    <p class="more-info">meer info</p>
                </a>
                {% image concert.image fill-600x450 %}
            </div>
        {% endfor %}
    </div>
    {% if concerts.has_other_pages %}
    <div class="paginator">
        {% if concerts.has_previous %}
            <a href="?{{ is_archive|yesno:'archive&,' }}1">
                <i class="fas fa-fast-backward"></i> first
            </a>
            <a href="?{{ is_archive|yesno:'archive&,' }}{{ concerts.previous_page_number }}">
                <i class="fas fa-step-backward"></i>
                previous
            </a>
        {% endif %}
        <div class="current">
            Page {{ concerts.number }} of {{ concerts.paginator.num_pages }}
        </div>
        {% if concerts.has_next %}
            <a href="?{{ is_archive|yesno:'archive&,' }}page={{ concerts.next_page_number }}">
                next
                <i class="fas fa-step-forward"></i>
            </a>
            <a href="?{{ is_archive|yesno:'archive&,' }}page={{ concerts.paginator.num_pages }}">
                last <i class="fas fa-fast-forward"></i>
            </a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}