{% load static wagtailcore_tags wagtailuserbar %}
{% wagtail_site as current_site %}

<!DOCTYPE html>
<html class="no-js" lang="nl">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/concertzaak.css' %}">
    <script src="https://kit.fontawesome.com/e97ab98e40.js" crossorigin="anonymous"></script>

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{#{% wagtailuserbar %}#}
<nav>
    <div class="desktop-menu">
        {% for page in  current_site.root_page.get_children %}
            <a href="{% pageurl page %}"> {{ page.title }}</a>
        {% endfor %}
    </div>
    <div class="mobile-menu">

    </div>
    <button class="hamburger"
            aria-label="Main Menu">
        <svg width="60" height="60" viewBox="0 0 100 100">
            <path class="line line1"
                  d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
            <path class="line line2" d="M 20,50 H 80"></path>
            <path class="line line3"
                  d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
        </svg>
    </button>

</nav>
{% block content %}{% endblock %}
<footer></footer>

{# Global javascript #}
<script type="text/javascript" src="{% static 'js/concertzaak.js' %}"></script>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
