@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
nav {
  overflow-x: hidden;
}
nav .hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 3000;
}
nav .hamburger .line {
  fill: none;
  stroke: #E8E8E8;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke ease-in-out 600ms;
}
nav .hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
nav .hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .logo {
  height: auto;
  position: absolute;
  z-index: 3000;
  top: 2rem;
  left: 2rem;
  transition: opacity 150ms linear;
}
nav .logo img {
  width: 10rem;
}
nav .desktop-menu {
  top: 2rem;
  display: none;
  position: absolute;
  height: 8rem;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1500;
  padding: 0 10rem 0 1rem;
  box-sizing: border-box;
}
nav .desktop-menu .navbar-nav {
  max-width: 33vw;
  list-style-type: none;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  position: relative;
  font-family: lulo-one, sans-serif;
  text-transform: uppercase;
}
nav .desktop-menu .navbar-nav .dropdown-menu {
  position: absolute;
  top: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms linear;
  transition-delay: 350ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li {
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
  transition: opacity 150ms linear, transform 150ms ease-in-out;
  transform: translateX(-1rem);
  opacity: 0;
  pointer-events: none;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(1) {
  transition-delay: 80ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(2) {
  transition-delay: 160ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(3) {
  transition-delay: 240ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(4) {
  transition-delay: 320ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(5) {
  transition-delay: 400ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(6) {
  transition-delay: 480ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(7) {
  transition-delay: 560ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(8) {
  transition-delay: 640ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(9) {
  transition-delay: 720ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(10) {
  transition-delay: 800ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu.open, nav .desktop-menu .navbar-nav .dropdown:hover .dropdown-menu {
  pointer-events: initial;
  opacity: 1;
  transition-delay: 0ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu.open li, nav .desktop-menu .navbar-nav .dropdown:hover .dropdown-menu li {
  opacity: 1;
  transform: translateX(0);
  pointer-events: initial;
}
nav .desktop-menu .navbar-nav a {
  font-size: 1.4rem;
  color: #E8E8E8;
}
nav .mobile-menu {
  position: fixed;
  background: #C98B1F;
  top: 0;
  left: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all 180ms;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav .mobile-menu .mobile-logo {
  width: 15rem;
}
nav .mobile-menu .mobile-logo img {
  width: 100%;
}
nav .mobile-menu li {
  text-align: center;
  list-style-type: none;
}
nav .mobile-menu a {
  color: black;
  font-family: lulo-one, sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
}
nav .mobile-menu .dropdown-menu {
  margin-bottom: 1em;
}
nav .mobile-menu .dropdown-menu a {
  font-size: 1.8rem;
}
nav .mobile-menu .navbar-nav > li {
  margin: 2em 0;
}
nav.opened .hamburger .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav.opened .hamburger .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
nav.opened .hamburger .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav.opened .hamburger .line1, nav.opened .hamburger .line2, nav.opened .hamburger .line3 {
  stroke: black;
}
nav.opened .mobile-menu {
  left: 0;
  opacity: 1;
  pointer-events: initial;
}
nav.opened .logo {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  nav .hamburger {
    top: 3.5rem;
    right: 2rem;
  }
  nav .logo {
    left: 4rem;
    top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  nav .desktop-menu {
    display: flex;
  }
  nav .logo {
    left: calc(100vmin - 15rem);
  }
  nav .logo img {
    width: 14rem;
  }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
  nav .logo {
    left: 40%;
  }
}
.socials a {
  font-size: 2rem;
  color: white;
  padding: 0 1rem;
}

@font-face {
  font-family: lulo-one;
  src: url(../fonts/lulo-one.otf);
}
@font-face {
  font-family: lulo-one-bold;
  src: url(../fonts/lulo-one-bold.otf);
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: black;
  margin: 0 auto;
  color: #E8E8E8;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

b {
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
}
b:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}

footer {
  background: #C98B1F;
  position: absolute;
  top: 100%;
  width: 100%;
  color: black;
  font-size: 1.3em;
  font-family: lulo-one, sans-serif;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer ul {
  list-style-type: none;
}
footer .logo {
  display: block;
  width: 10em;
  margin: 0 auto;
  padding: 5em 0;
}
footer .logo img {
  display: block;
  width: 100%;
  height: auto;
}
footer .contact {
  padding: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;
  list-style-type: none;
}
footer .contact li {
  margin-bottom: 0.6em;
}
footer .contact li span, footer .contact li i {
  margin-right: 1em;
}
footer .contact li:first-of-type {
  font-size: 1.2em;
}
footer .navigation {
  padding: 2rem;
  font-size: 1.7em;
  font-family: lulo-one-bold, sans-serif;
}
footer .navigation > li {
  margin: 0.6em 0;
}
footer .navigation a {
  color: black;
}
footer .navigation .sub-menu {
  margin-left: 1em;
  margin-top: -0.6em;
  font-size: 0.8em;
  font-family: lulo-one, sans-serif;
}
footer .socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
}
footer .socials a {
  color: black;
}

h1, h2, h3 {
  font-family: lulo-one-bold, sans-serif;
}

h1 {
  margin: 3.5rem 0 1.5rem 0.25rem;
  font-size: 2.5em;
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
}
h1:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}

.rich-text {
  margin: 0 auto;
  font-size: 2rem;
  max-width: 65rem;
  line-height: 140%;
  padding-bottom: 6.5rem;
}
.rich-text h2 {
  font-size: 1.2em;
}
.rich-text h3 {
  font-size: 1em;
}
.rich-text h2, .rich-text h3, .rich-text h4 {
  margin: 1em 0;
}
.rich-text p {
  margin: 0.5em 0;
}
.rich-text img {
  max-width: 70%;
  height: auto;
  margin: 2em auto !important;
  display: block;
}
.rich-text a {
  color: white;
  text-decoration: underline;
  font-weight: bolder;
}

.header-img img {
  height: auto;
  width: 100%;
}
.header-img img.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  footer {
    font-size: 1.5em;
  }
  footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
  }

  .header-img img.desktop {
    width: 85%;
    height: auto;
    margin: 10em auto 3em;
    display: block;
  }
  .header-img img.mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@keyframes spazz {
  1% {
    filter:  hue-rotate(122.4deg);
    background-color: #ff66cc;
    transform: translate(-14px, 13px) scale(1.14);
  }
  2% {
    filter:  hue-rotate(90deg) contrast(7.48);
    background-color: #66b5ff;
    transform: translate(15px, 1px) scale(1.16);
  }
  3% {
    filter:  hue-rotate(25.2deg);
    background-color: #66e3ff;
    transform: translate(3px, -11px) scale(1.14);
  }
  5% {
    filter:  hue-rotate(288deg);
    background-color: #d6ff66;
    transform: translate(9px, 3px) scale(1.2);
  }
  7% {
    filter:  hue-rotate(288deg);
    background-color: #ff666b;
    transform: translate(-13px, 5px) scale(1.22);
  }
  10% {
    filter:  hue-rotate(10.8deg);
    background-color: #d666ff;
    transform: translate(13px, 3px) scale(1.24);
  }
  12% {
    filter:  hue-rotate(36deg);
    background-color: #ccff66;
    transform: translate(-13px, 9px) scale(1.2);
  }
  13% {
    filter:  hue-rotate(90deg);
    background-color: #66ffb0;
    transform: translate(-3px, -1px) scale(1.06);
  }
  14% {
    filter:  saturate(9.01) hue-rotate(25.2deg);
    background-color: #66ff8a;
    transform: translate(-12px, -9px) scale(1.09);
  }
  15% {
    filter:  hue-rotate(187.2deg);
    background-color: #6691ff;
    transform: translate(-3px, -11px) scale(1.2);
  }
  17% {
    filter:  hue-rotate(28.8deg);
    background-color: #ff666e;
    transform: translate(1px, -4px) scale(1.18);
  }
  18% {
    filter:  hue-rotate(90deg);
    background-color: #ff9166;
    transform: translate(-9px, -12px) scale(1.18);
  }
  19% {
    filter:  hue-rotate(302.4deg);
    background-color: #ff6673;
    transform: translate(10px, 9px) scale(1.06);
  }
  21% {
    filter:  hue-rotate(147.6deg);
    background-color: #ff66d9;
    transform: translate(-1px, -6px) scale(1.06);
  }
  22% {
    filter:  hue-rotate(277.2deg) contrast(6.58);
    background-color: #91ff66;
    transform: translate(14px, 13px) scale(1.15);
  }
  23% {
    filter:  hue-rotate(97.2deg);
    background-color: #a166ff;
    transform: translate(12px, 15px) scale(1.2);
  }
  24% {
    filter:  hue-rotate(32.4deg);
    background-color: #f0ff66;
    transform: translate(9px, -11px) scale(1.21);
  }
  26% {
    filter:  hue-rotate(79.2deg);
    background-color: #ffba66;
    transform: translate(-11px, 13px) scale(1.25);
  }
  27% {
    filter:  saturate(4.42) hue-rotate(259.2deg);
    background-color: #a6ff66;
    transform: translate(1px, 8px) scale(1.07);
  }
  28% {
    filter:  hue-rotate(244.8deg);
    background-color: #66ffde;
    transform: translate(-1px, -12px) scale(1.24);
  }
  30% {
    filter:  hue-rotate(237.6deg);
    background-color: #ff6b66;
    transform: translate(15px, 10px) scale(1.23);
  }
  32% {
    filter:  hue-rotate(133.2deg);
    background-color: #66ffed;
    transform: translate(-9px, 0px) scale(1.24);
  }
  33% {
    filter:  hue-rotate(79.2deg);
    background-color: #ffa366;
    transform: translate(6px, 8px) scale(1.15);
  }
  34% {
    filter:  saturate(2.53) hue-rotate(194.4deg);
    background-color: #6966ff;
    transform: translate(-1px, 14px) scale(1.13);
  }
  35% {
    filter:  hue-rotate(93.6deg);
    background-color: #ffbd66;
    transform: translate(-10px, -12px) scale(1.22);
  }
  36% {
    filter:  hue-rotate(36deg);
    background-color: #ff8766;
    transform: translate(7px, 0px) scale(1.15);
  }
  37% {
    filter:  hue-rotate(176.4deg);
    background-color: #edff66;
    transform: translate(-5px, -5px) scale(1.14);
  }
  43% {
    filter:  hue-rotate(327.6deg);
    background-color: #69ff66;
    transform: translate(-1px, 3px) scale(1.08);
  }
  47% {
    filter:  hue-rotate(3.6deg);
    background-color: #ffba66;
    transform: translate(9px, -4px) scale(1.12);
  }
  49% {
    filter:  saturate(7.93) hue-rotate(108deg);
    background-color: #cfff66;
    transform: translate(10px, 10px) scale(1.07);
  }
  54% {
    filter:  hue-rotate(136.8deg);
    background-color: #ff668c;
    transform: translate(-12px, -8px) scale(1.08);
  }
  55% {
    filter:  saturate(1.54) hue-rotate(79.2deg);
    background-color: #66ffd1;
    transform: translate(10px, 0px) scale(1.24);
  }
  56% {
    filter:  hue-rotate(39.6deg);
    background-color: #66fff2;
    transform: translate(-7px, -12px) scale(1.17);
  }
  57% {
    filter:  hue-rotate(334.8deg) contrast(6.85);
    background-color: #66ff7d;
    transform: translate(-10px, 0px) scale(1.08);
  }
  58% {
    filter:  hue-rotate(244.8deg);
    background-color: #66ffcf;
    transform: translate(1px, -6px) scale(1.21);
  }
  60% {
    filter:  hue-rotate(68.4deg);
    background-color: #c266ff;
    transform: translate(15px, 2px) scale(1.14);
  }
  62% {
    filter:  hue-rotate(10.8deg);
    background-color: #ffb066;
    transform: translate(-3px, -3px) scale(1.16);
  }
  64% {
    filter:  hue-rotate(162deg);
    background-color: #91ff66;
    transform: translate(-11px, -12px) scale(1.16);
  }
  65% {
    filter:  hue-rotate(316.8deg);
    background-color: #a366ff;
    transform: translate(-10px, -14px) scale(1.14);
  }
  67% {
    filter:  hue-rotate(169.2deg) contrast(9.01);
    background-color: #ff66d1;
    transform: translate(-3px, 3px) scale(1.25);
  }
  68% {
    filter:  hue-rotate(183.6deg) brightness(73.5%);
    background-color: #ff66f5;
    transform: translate(2px, 6px) scale(1.16);
  }
  70% {
    filter:  hue-rotate(331.2deg);
    background-color: #66ffd6;
    transform: translate(14px, 2px) scale(1.15);
  }
  73% {
    filter:  hue-rotate(86.4deg);
    background-color: #66fff7;
    transform: translate(-4px, 13px) scale(1.08);
  }
  74% {
    filter:  hue-rotate(25.2deg) contrast(9.46);
    background-color: #66ff96;
    transform: translate(-7px, 5px) scale(1.12);
  }
  75% {
    filter:  hue-rotate(230.4deg);
    background-color: #f5ff66;
    transform: translate(1px, -5px) scale(1.1);
  }
  76% {
    filter:  hue-rotate(68.4deg);
    background-color: #adff66;
    transform: translate(-5px, -14px) scale(1.08);
  }
  77% {
    filter:  saturate(2.08) hue-rotate(93.6deg);
    background-color: #66fff7;
    transform: translate(3px, -7px) scale(1.07);
  }
  78% {
    filter:  hue-rotate(230.4deg) contrast(5.23);
    background-color: #66bfff;
    transform: translate(-11px, -7px) scale(1.16);
  }
  79% {
    filter:  saturate(3.07) hue-rotate(86.4deg);
    background-color: #c4ff66;
    transform: translate(-3px, 15px) scale(1.07);
  }
  80% {
    filter:  hue-rotate(306deg);
    background-color: #ffcf66;
    transform: translate(11px, -11px) scale(1.14);
  }
  81% {
    filter:  hue-rotate(25.2deg);
    background-color: #66ffcc;
    transform: translate(4px, -9px) scale(1.25);
  }
  82% {
    filter:  hue-rotate(140.4deg);
    background-color: #ff6e66;
    transform: translate(4px, -13px) scale(1.17);
  }
  83% {
    filter:  hue-rotate(28.8deg);
    background-color: #a3ff66;
    transform: translate(3px, 7px) scale(1.21);
  }
  85% {
    filter:  hue-rotate(334.8deg);
    background-color: #ff66b5;
    transform: translate(-9px, 9px) scale(1.2);
  }
  86% {
    filter:  saturate(7.84) hue-rotate(302.4deg);
    background-color: #ff66c7;
    transform: translate(-14px, -5px) scale(1.24);
  }
  89% {
    filter:  hue-rotate(342deg);
    background-color: #ff66d9;
    transform: translate(14px, 8px) scale(1.12);
  }
  90% {
    filter:  hue-rotate(97.2deg);
    background-color: #66f5ff;
    transform: translate(-7px, 1px) scale(1.11);
  }
  92% {
    filter:  hue-rotate(324deg);
    background-color: #ff8566;
    transform: translate(-3px, -3px) scale(1.22);
  }
  93% {
    filter:  hue-rotate(162deg);
    background-color: #d666ff;
    transform: translate(7px, 5px) scale(1.11);
  }
  94% {
    filter:  hue-rotate(331.2deg);
    background-color: #66e6ff;
    transform: translate(-9px, -11px) scale(1.2);
  }
  96% {
    filter:  hue-rotate(57.6deg);
    background-color: #e366ff;
    transform: translate(-7px, 2px) scale(1.08);
  }
  97% {
    filter:  hue-rotate(64.8deg);
    background-color: #d4ff66;
    transform: translate(-6px, 8px) scale(1.22);
  }
  99% {
    filter:  hue-rotate(262.8deg) contrast(7.75);
    background-color: #66ffa8;
    transform: translate(-10px, -13px) scale(1.1);
  }
  100% {
    filter:  hue-rotate(352.8deg) brightness(63.5%);
    background-color: #ffba66;
    transform: translate(0px, -11px) scale(1.1);
  }
}

/*# sourceMappingURL=concertzaak.css.map */
