@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
nav {
  overflow-x: hidden;
}
nav .hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 3000;
}
nav .hamburger .line {
  fill: none;
  stroke: #E8E8E8;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke ease-in-out 600ms;
}
nav .hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
nav .hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .logo {
  height: auto;
  position: absolute;
  z-index: 3000;
  top: 2rem;
  left: 2rem;
  transition: opacity 150ms linear;
}
nav .logo img {
  width: 10rem;
}
nav .desktop-menu {
  top: 2rem;
  display: none;
  position: absolute;
  height: 8rem;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1500;
  padding: 0 10rem 0 1rem;
  box-sizing: border-box;
}
nav .desktop-menu .navbar-nav {
  list-style-type: none;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  position: relative;
  font-family: lulo-one, sans-serif;
  text-transform: uppercase;
}
nav .desktop-menu .navbar-nav .dropdown-menu {
  position: absolute;
  top: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms linear;
  transition-delay: 350ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li {
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
  transition: opacity 150ms linear, transform 150ms ease-in-out;
  transform: translateX(-1rem);
  opacity: 0;
  pointer-events: none;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(1) {
  transition-delay: 80ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(2) {
  transition-delay: 160ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(3) {
  transition-delay: 240ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(4) {
  transition-delay: 320ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(5) {
  transition-delay: 400ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(6) {
  transition-delay: 480ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(7) {
  transition-delay: 560ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(8) {
  transition-delay: 640ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(9) {
  transition-delay: 720ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(10) {
  transition-delay: 800ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu.open, nav .desktop-menu .navbar-nav .dropdown:hover .dropdown-menu {
  pointer-events: initial;
  opacity: 1;
  transition-delay: 0ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu.open li, nav .desktop-menu .navbar-nav .dropdown:hover .dropdown-menu li {
  opacity: 1;
  transform: translateX(0);
  pointer-events: initial;
}
nav .desktop-menu .navbar-nav a {
  font-size: 1.4rem;
  color: #E8E8E8;
}
nav .mobile-menu {
  position: fixed;
  background: #C98B1F;
  top: 0;
  left: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all 180ms;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav .mobile-menu li {
  text-align: center;
  list-style-type: none;
}
nav .mobile-menu a {
  color: black;
  font-family: lulo-one, sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
}
nav .mobile-menu .dropdown-menu {
  margin-bottom: 1em;
}
nav .mobile-menu .dropdown-menu a {
  font-size: 1.8rem;
}
nav .mobile-menu .navbar-nav > li {
  margin: 2em 0;
}
nav.opened .hamburger .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav.opened .hamburger .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
nav.opened .hamburger .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav.opened .hamburger .line1, nav.opened .hamburger .line2, nav.opened .hamburger .line3 {
  stroke: black;
}
nav.opened .mobile-menu {
  left: 0;
  opacity: 1;
  pointer-events: initial;
}
nav.opened .logo {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  nav .hamburger {
    top: 3rem;
    right: 2rem;
  }
  nav .logo {
    left: 4rem;
    top: 4rem;
  }
}
@media screen and (min-width: 992px) {
  nav .desktop-menu {
    display: flex;
  }
  nav .logo {
    left: calc(100vmin - 20rem);
  }
  nav .logo img {
    width: 18rem;
  }
}
.socials a {
  font-size: 2rem;
  color: white;
  padding: 0 1rem;
}

@font-face {
  font-family: lulo-one;
  src: url(../fonts/lulo-one.otf);
}
@font-face {
  font-family: lulo-one-bold;
  src: url(../fonts/lulo-one-bold.otf);
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: black;
  margin: 0 auto;
  color: #E8E8E8;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

b {
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
}
b:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}

footer {
  background: #C98B1F;
}

h1, h2, h3 {
  font-family: lulo-one-bold, sans-serif;
}

h1 {
  margin: 0.6em 0 1.5em 0.25em;
  font-size: 2.5em;
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
}
h1:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}

@media screen and (min-width: 768px) {
  h1 {
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@keyframes spazz {
  0% {
    filter:  hue-rotate(208.8deg);
    background-color: #ff667d;
    transform: translate(-12px, 3px) scale(1.18);
  }
  1% {
    filter:  hue-rotate(327.6deg);
    background-color: #667aff;
    transform: translate(11px, -14px) scale(1.2);
  }
  2% {
    filter:  hue-rotate(309.6deg);
    background-color: #ffd966;
    transform: translate(11px, 10px) scale(1.23);
  }
  3% {
    filter:  saturate(4.69) hue-rotate(241.2deg);
    background-color: #b5ff66;
    transform: translate(10px, -9px) scale(1.14);
  }
  6% {
    filter:  hue-rotate(108deg);
    background-color: #87ff66;
    transform: translate(-2px, -10px) scale(1.08);
  }
  7% {
    filter:  saturate(6.76) hue-rotate(21.6deg);
    background-color: #66ffff;
    transform: translate(-9px, -10px) scale(1.09);
  }
  9% {
    filter:  hue-rotate(144deg);
    background-color: #ffe366;
    transform: translate(7px, -11px) scale(1.07);
  }
  10% {
    filter:  hue-rotate(43.2deg);
    background-color: #f066ff;
    transform: translate(2px, 14px) scale(1.12);
  }
  11% {
    filter:  hue-rotate(198deg);
    background-color: #ffba66;
    transform: translate(-13px, 9px) scale(1.2);
  }
  13% {
    filter:  hue-rotate(306deg) contrast(1.45);
    background-color: #78ff66;
    transform: translate(-14px, 10px) scale(1.23);
  }
  14% {
    filter:  hue-rotate(352.8deg);
    background-color: #ff668a;
    transform: translate(5px, -7px) scale(1.22);
  }
  16% {
    filter:  hue-rotate(86.4deg);
    background-color: #b8ff66;
    transform: translate(-4px, 14px) scale(1.13);
  }
  19% {
    filter:  hue-rotate(349.2deg);
    background-color: #f2ff66;
    transform: translate(10px, -11px) scale(1.13);
  }
  20% {
    background-color: #8cff66;
    transform: translate(-2px, 10px) scale(1.17);
  }
  23% {
    filter:  hue-rotate(277.2deg);
    background-color: #b866ff;
    transform: translate(13px, 7px) scale(1.1);
  }
  27% {
    filter:  hue-rotate(313.2deg);
    background-color: #ff66eb;
    transform: translate(1px, 8px) scale(1.24);
  }
  33% {
    filter:  hue-rotate(234deg) brightness(68%);
    background-color: #e8ff66;
    transform: translate(6px, 2px) scale(1.18);
  }
  34% {
    filter:  hue-rotate(28.8deg);
    background-color: #66ccff;
    transform: translate(-5px, -4px) scale(1.12);
  }
  35% {
    filter:  hue-rotate(248.4deg);
    background-color: #66fff7;
    transform: translate(6px, -13px) scale(1.14);
  }
  37% {
    filter:  saturate(2.62) hue-rotate(234deg);
    background-color: #66ff94;
    transform: translate(15px, 4px) scale(1.2);
  }
  39% {
    filter:  hue-rotate(82.8deg);
    background-color: #a1ff66;
    transform: translate(11px, -8px) scale(1.13);
  }
  42% {
    filter:  hue-rotate(208.8deg);
    background-color: #f2ff66;
    transform: translate(7px, 14px) scale(1.14);
  }
  43% {
    filter:  hue-rotate(295.2deg) contrast(7.75);
    background-color: #ff6673;
    transform: translate(-9px, -8px) scale(1.06);
  }
  44% {
    filter:  hue-rotate(327.6deg);
    background-color: #85ff66;
    transform: translate(13px, 14px) scale(1.15);
  }
  46% {
    filter:  hue-rotate(216deg);
    background-color: #ebff66;
    transform: translate(4px, -6px) scale(1.1);
  }
  48% {
    filter:  hue-rotate(46.8deg);
    background-color: #ffe066;
    transform: translate(1px, -13px) scale(1.11);
  }
  49% {
    filter:  hue-rotate(190.8deg);
    background-color: #66b8ff;
    transform: translate(-1px, -13px) scale(1.16);
  }
  50% {
    filter:  hue-rotate(86.4deg);
    background-color: #ff66ab;
    transform: translate(2px, 3px) scale(1.17);
  }
  52% {
    background-color: #ebff66;
    transform: translate(-7px, -4px) scale(1.21);
  }
  53% {
    filter:  hue-rotate(10.8deg) brightness(40.5%);
    background-color: #66f5ff;
    transform: translate(11px, 1px) scale(1.1);
  }
  54% {
    filter:  hue-rotate(180deg);
    background-color: #66e0ff;
    transform: translate(1px, -11px) scale(1.16);
  }
  55% {
    filter:  hue-rotate(176.4deg);
    background-color: #66adff;
    transform: translate(0px, -1px) scale(1.13);
  }
  57% {
    filter:  hue-rotate(345.6deg) brightness(58%);
    background-color: #ff9966;
    transform: translate(12px, -2px) scale(1.21);
  }
  58% {
    filter:  saturate(6.94) hue-rotate(36deg);
    background-color: #66b8ff;
    transform: translate(7px, -8px) scale(1.2);
  }
  60% {
    filter:  saturate(1.81) hue-rotate(176.4deg);
    background-color: #ff66ab;
    transform: translate(8px, -10px) scale(1.17);
  }
  62% {
    filter:  hue-rotate(133.2deg);
    background-color: #d4ff66;
    transform: translate(1px, -3px) scale(1.12);
  }
  64% {
    filter:  hue-rotate(104.4deg) brightness(56.5%);
    background-color: #fff566;
    transform: translate(-5px, -4px) scale(1.18);
  }
  66% {
    filter:  hue-rotate(36deg);
    background-color: #ccff66;
    transform: translate(-11px, 12px) scale(1.16);
  }
  67% {
    filter:  hue-rotate(266.4deg);
    background-color: #ba66ff;
    transform: translate(-3px, 15px) scale(1.11);
  }
  69% {
    filter:  hue-rotate(306deg);
    background-color: #66ff6b;
    transform: translate(-9px, -14px) scale(1.11);
  }
  72% {
    filter:  hue-rotate(194.4deg);
    background-color: #ff66fa;
    transform: translate(-5px, -10px) scale(1.17);
  }
  73% {
    filter:  hue-rotate(270deg) contrast(4.96) brightness(63%);
    background-color: #ffab66;
    transform: translate(1px, 0px) scale(1.13);
  }
  75% {
    filter:  hue-rotate(25.2deg);
    background-color: #668cff;
    transform: translate(14px, 1px) scale(1.14);
  }
  76% {
    filter:  saturate(4.78) hue-rotate(72deg) brightness(70.5%);
    background-color: #66ff94;
    transform: translate(-3px, 13px) scale(1.22);
  }
  77% {
    filter:  hue-rotate(273.6deg);
    background-color: #9cff66;
    transform: translate(-4px, -9px) scale(1.13);
  }
  80% {
    filter:  hue-rotate(198deg) brightness(50.5%);
    background-color: #d166ff;
    transform: translate(8px, 15px) scale(1.11);
  }
  82% {
    filter:  hue-rotate(190.8deg) contrast(1.81);
    background-color: #ffe066;
    transform: translate(-9px, -11px) scale(1.12);
  }
  83% {
    filter:  hue-rotate(126deg);
    background-color: #fff566;
    transform: translate(10px, -9px) scale(1.2);
  }
  84% {
    filter:  hue-rotate(205.2deg);
    background-color: #ff8566;
    transform: translate(-8px, -3px) scale(1.25);
  }
  85% {
    filter:  hue-rotate(151.2deg);
    background-color: #8066ff;
    transform: translate(4px, -3px) scale(1.06);
  }
  90% {
    filter:  hue-rotate(309.6deg);
    background-color: #ffc966;
    transform: translate(-1px, 9px) scale(1.23);
  }
  91% {
    filter:  hue-rotate(28.8deg);
    background-color: #ff666e;
    transform: translate(14px, 15px) scale(1.24);
  }
  92% {
    filter:  saturate(6.49) hue-rotate(68.4deg);
    background-color: #ff66ba;
    transform: translate(10px, 14px) scale(1.09);
  }
  93% {
    filter:  hue-rotate(309.6deg);
    background-color: #66a6ff;
    transform: translate(2px, 13px) scale(1.2);
  }
  96% {
    filter:  hue-rotate(327.6deg);
    background-color: #fcff66;
    transform: translate(-11px, -2px) scale(1.07);
  }
  97% {
    filter:  saturate(6.58) hue-rotate(108deg);
    background-color: #ff66db;
    transform: translate(5px, 6px) scale(1.1);
  }
  98% {
    filter:  hue-rotate(133.2deg);
    background-color: #a6ff66;
    transform: translate(-6px, -6px) scale(1.19);
  }
  100% {
    filter:  hue-rotate(295.2deg);
    background-color: #ff7366;
    transform: translate(-4px, -7px) scale(1.16);
  }
}

/*# sourceMappingURL=concertzaak.css.map */
