nav {
  overflow-x: hidden;
}
nav .hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 3000;
}
nav .hamburger .line {
  fill: none;
  stroke: #E8E8E8;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke ease-in-out 600ms;
}
nav .hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
nav .hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .logo {
  height: auto;
  position: absolute;
  z-index: 3000;
  top: 2rem;
  left: 2rem;
  transition: opacity 150ms linear;
}
nav .logo img {
  width: 10rem;
}
nav .desktop-menu {
  top: 2rem;
  display: none;
  position: absolute;
  height: 8rem;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1500;
  padding: 0 10rem 0 1rem;
  box-sizing: border-box;
}
nav .desktop-menu .navbar-nav {
  max-width: 33vw;
  list-style-type: none;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  position: relative;
  font-family: lulo-one, sans-serif;
  text-transform: uppercase;
}
nav .desktop-menu .navbar-nav .dropdown-menu {
  position: absolute;
  top: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms linear;
  transition-delay: 350ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li {
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
  transition: opacity 150ms linear, transform 150ms ease-in-out;
  transform: translateX(-1rem);
  opacity: 0;
  pointer-events: none;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(1) {
  transition-delay: 80ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(2) {
  transition-delay: 160ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(3) {
  transition-delay: 240ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(4) {
  transition-delay: 320ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(5) {
  transition-delay: 400ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(6) {
  transition-delay: 480ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(7) {
  transition-delay: 560ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(8) {
  transition-delay: 640ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(9) {
  transition-delay: 720ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu li:nth-child(10) {
  transition-delay: 800ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu.open, nav .desktop-menu .navbar-nav .dropdown:hover .dropdown-menu {
  pointer-events: initial;
  opacity: 1;
  transition-delay: 0ms;
}
nav .desktop-menu .navbar-nav .dropdown-menu.open li, nav .desktop-menu .navbar-nav .dropdown:hover .dropdown-menu li {
  opacity: 1;
  transform: translateX(0);
  pointer-events: initial;
}
nav .desktop-menu .navbar-nav a {
  font-size: 1.4rem;
  color: #E8E8E8;
}
nav .mobile-menu {
  position: fixed;
  background: #C98B1F;
  top: 0;
  left: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all 180ms;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav .mobile-menu .mobile-logo {
  width: 15rem;
}
nav .mobile-menu .mobile-logo img {
  width: 100%;
}
nav .mobile-menu li {
  text-align: center;
  list-style-type: none;
}
nav .mobile-menu a {
  color: black;
  font-family: lulo-one, sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
}
nav .mobile-menu .dropdown-menu {
  margin-bottom: 1em;
}
nav .mobile-menu .dropdown-menu a {
  font-size: 1.8rem;
}
nav .mobile-menu .navbar-nav > li {
  margin: 2em 0;
}
nav.opened .hamburger .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav.opened .hamburger .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
nav.opened .hamburger .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav.opened .hamburger .line1, nav.opened .hamburger .line2, nav.opened .hamburger .line3 {
  stroke: black;
}
nav.opened .mobile-menu {
  left: 0;
  opacity: 1;
  pointer-events: initial;
}
nav.opened .logo {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  nav .hamburger {
    top: 3.5rem;
    right: 2rem;
  }
  nav .logo {
    left: 4rem;
    top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  nav .desktop-menu {
    display: flex;
  }
  nav .logo {
    left: calc(100vmin - 15rem);
  }
  nav .logo img {
    width: 14rem;
  }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
  nav .logo {
    left: 40%;
  }
}/*# sourceMappingURL=navigation.css.map */