@use '../../../../../static/css/vars';


.blog-page {


  &__header {
    @include vars.black-gradient;
    font-size: 1.6rem;

    &__content {
      background: red;
      max-width: 65rem;
      margin: 0 auto;
      padding: 0 1rem;

      h1 {
        font-size: 1.5em;
        margin-top: .5em;
        margin-left: 0;
        margin-bottom: 0;

        &:after {
          display: none;
        }
      }

      h4 {
        font-family: vars.$fancy-font;
        color: vars.$text-gray;
        margin: 0;
      }
    }


  }

  &__content {
    padding: 1rem;
    min-height: 50vh;

    iframe {
      width: 100%;
      min-height: 400px;
    }
  }


}

