{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'blog/css/blog-index.css' %}">
{% endblock %}


{% block content %}
    <div class="blog-index-page">
        <h1>Wandelgangen</h1>
        <h2>Gehoord in de mechelse wandelgangen</h2>
        <div class="blog posts">
            {% for post in posts %}
                {% include 'blog/blog_post.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}