@use '../../../../static/css/vars';

.contact-page {
  padding: 10rem 2em 2em;
  max-width: 65rem;
  margin: 0 auto;

  .thanks{
    font-size: 2em;
    padding-top: 2rem;
  }

  h3 {
    margin-top: 3em;
  }

  &__details {
    font-size: 1.6em;
    list-style-type: none;
    padding-top: 1em;

    li {
      margin-bottom: .5em;
      display: flex;

      &:first-child {
        font-weight: bold;
      }

      i {
        min-width: 2em;
        display: block;
      }
    }
  }

  .contact-form {
    font-size: 1.6em;
    margin-bottom: 6rem;

    .error-list {
      margin-top: 0.5em;
    }

    .field {
      padding-top: 1em;

      label {
        display: block;
      }

      input, textarea {
        width: 100%;
        padding: .5em;
        background: black;
        color: white;
        border: 1px solid;
        border-radius: .2rem;
        outline: none !important;
        transition: all 150ms ease-in-out;


        &:focus {
          border: 1px solid vars.$accent-color;
        }

      }
    }

    button {
      margin-top: 2rem;
      font-size: 1.2em;
      background: none;
      border: none;
      cursor: pointer;
      font-family: vars.$fancy-font-bold;
      @include vars.highlighted-hover;
    }
  }
}
