{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'contact/contact.css' %}">
{% endblock %}
{% block content %}
    <div class="contact">
        <h1>{{ self.title }}</h1>
        <ul class="contact__details">
            {% for detail in self.details.all %}
                <li>
                    <i class="{{ detail.font_awesome_icon }}"></i>
                    <span> {{ detail.tag }}</span>
                    {{ detail.description|safe }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
