{% load static %}
{% load core.snippets %}
{% load menu_tags %}

<footer>
    <a class='logo' href="/"> <img alt="logo" src="{% static "img/logo/logo-zwart.svg" %}"></a>
    <div class="container">
        {% main_menu template='core/footer_menu.html' add_sub_menus_inline=True %}
        {% if contact %}
            <ul class="contact">
                {% for detail in contact.details.all %}
                    <li>
                        {% if detail.font_awesome_icon %} <i class="{{ detail.font_awesome_icon }}"></i>{% endif %}
                        {{ detail.description|safe }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% show_socials %}
    <div class="sponsors">
        <img src={% static "img/sponsors/maes-black.png" %} alt="Maes">
        <img src={% static "img/sponsors/mechelen-black.png" %} alt="Mechelen">
        <img src={% static "img/sponsors/natlot-black.png" %} alt="Nationale Loterij">
        <img src={% static "img/sponsors/vlaanderen-black.png" %} alt="Vlaanderen">
    </div>
</footer>