h1 {
  margin-top: 12rem;
}

.concerts {
  padding-bottom: 6.5rem;
  padding-top: 2rem;
}
.concerts .concert {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
}
.concerts .concert a {
  display: flex;
  flex-direction: column;
  align-content: start;
  align-items: start;
  box-sizing: border-box;
  z-index: 1000;
  padding: 2em;
}
.concerts .concert a:hover .more-info {
  transform: translate(-0.125em, -0.125em);
}
.concerts .concert a:hover .more-info::after {
  transform: translate(0.25em, 0.25em);
}
.concerts .concert a:hover ~ img {
  animation: spazz 7s steps(1) infinite;
}
.concerts .concert .more-info {
  align-self: end;
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
  font-family: lulo-one-bold, sans-serif;
  margin-right: 0.65rem;
  margin-top: 1rem;
}
.concerts .concert .more-info:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}
.concerts .concert img {
  width: 100%;
  max-width: 100vmin;
  height: auto;
  pointer-events: none;
}
.concerts .concert h2, .concerts .concert p {
  color: #E8E8E8;
}
.concerts .concert h2 {
  font-size: 2em;
  margin: 0 0 0.5em;
}
.concerts .concert h3 {
  color: #C98B1F;
  font-size: 1.5em;
}
.concerts .concert p {
  font-size: 1.5em;
  line-height: 140%;
}

.actions a {
  font-family: lulo-one-bold, sans-serif;
  color: #E8E8E8;
  display: inline-block;
  position: relative;
  transition: transform 120ms ease-in-out;
  font-size: 1.4em;
}
.actions a:after {
  transition: inherit;
  content: "";
  display: block;
  position: absolute;
  background: #C98B1F;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
  height: 1.1em;
  z-index: -1;
  text-transform: uppercase;
  font-size: inherit;
}
.actions a:hover {
  transform: translate(-0.125em, -0.125em);
}
.actions a:hover::after {
  transform: translate(0.25em, 0.25em);
}
.actions a:after {
  opacity: 0;
  transition: opacity 150ms linear, transform 150ms ease-in-out;
}
.actions a:hover::after {
  opacity: 1;
}

.paginator {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  gap: 1em;
  margin: 0 auto;
}
.paginator a, .paginator .current {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .concerts .concert {
    display: flex;
    align-items: stretch;
  }
  .concerts .concert a {
    padding-left: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
  }
  .concerts .concert a .more-info {
    margin-top: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    margin-left: 10%;
  }

  .paginator {
    max-width: 80em;
  }

  .actions {
    padding: 2em 2em 0;
    margin: 0 auto;
  }

  .concerts {
    max-width: 80em;
    padding: 0 2rem 6.5rem;
    margin: 0 auto;
  }
  .concerts .concert {
    margin: 4rem 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  .concerts .concert a {
    padding-left: 2rem;
  }
  .concerts .concert img {
    max-width: 50vmin;
    display: block;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .concerts .concert a {
    padding-left: 1em;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .concerts, .actions, .paginator {
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=concerts.css.map */
