{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block content %}
    <div class="blog-page">
        <div class="blog-page__header">
            {% image page.image fill-800x450 %}
            <div class="blog-page__header__content">
                <h1>{{ page.title|safe }}</h1>
                <h4>{{ page.publication_date|date:'D d.m.Y' }}</h4>
            </div>
        </div>
        <div class="blog-page__content rich-text">
            {{ page.content|richtext }}
        </div>
    </div>
{% endblock %}