@use '../../../../../static/css/vars';


.resident-page {
  max-width: vars.$page-width;
  margin: 0 auto;
  padding: 10rem 1.6rem 6rem;
  box-sizing: border-box;

  &__intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    align-items: start;
    margin-bottom: 3.2rem;
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__info {
    h1 {
      margin: 0 0 1.4rem;
      font-size: 3.2rem;
    }
  }

  &__genre {
    font-family: vars.$fancy-font;
    color: vars.$text-gray;
    font-size: 1.4rem;
    margin: 0 0 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  &__bio {
    font-size: 2rem;
    line-height: 1.4;
    margin: 0 0 2rem;
    max-width: 48rem;
  }

  &__more-info a {
    @include vars.none-to-highlighted-hover;
    color: vars.$text-color;
    font-family: vars.$fancy-font;
    font-size: 1.5rem;
  }

  &__media {
    display: grid;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
  }

  &__embed {
    iframe {
      width: 100%;
      border: 0;
      min-height: 320px;
    }
  }

  &__embed--spotify iframe {
    min-height: 380px;
  }

  &__content {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: map_get(vars.$screen-size, 'm')) {
  .resident-page {
    padding-top: 13rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

@media screen and (min-width: map_get(vars.$screen-size, 'l')) {
  .resident-page {
    padding-top: 16rem;

    &__intro {
      grid-template-columns: minmax(32rem, 48%) 1fr;
      gap: 4rem;
    }

    &__media {
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }

    &__embed--video iframe {
      min-height: 360px;
    }
  }
}
