@use '../../../../../static/css/vars';
@use '../../../../blog/static/blog/css/blog-index';


body {
  overflow: hidden;
}

.landing-container {
  overflow-y: auto;
  max-height: 100vh;
  scroll-snap-type: y proximity;
}

section {
  scroll-snap-align: start;
}

h2 {
  font-size: 3rem;
}

.title-link {
  @include vars.highlighted-hover;
  font-size: 3rem;
  margin: 1em 0;

}

.text-overlay {
  width: 70%;
  background: black;
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.more-info {

  display: flex;
  flex-direction: row-reverse;

  a {
    font-size: 1.2rem;
    color: vars.$accent-color;
    font-family: vars.$fancy-font;
    margin-top: 4rem;
    transition: all 150ms ease-in-out;


    i {
      transition: all 150ms ease-in-out;
    }

    &:hover {
      transform: translateX(-.25em);

      i {
        transform: translateX(.5em);
      }
    }
  }

}

.landing, .rehearsal {
  img {
    width: 100%;
    height: 72vmax;
    object-fit: cover;
  }
}

.landing {
  position: relative;
  height: 100vmax;


  &__text {
    font-size: 2rem;
    top: 72vmax;
    transform: translateY(-68%);
    font-family: vars.$fancy-font-bold;

  }
}

.concerts {
  padding: 8rem 1rem 2rem;
  height: 100vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: start;

  .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -ms-overflow-style: none;
    align-items: start;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }


    .concert {
      flex: 0 0 auto;
      margin: 1rem;
      width: 70vmin;
      display: flex;
      flex-direction: column-reverse;


      img {
        width: 100%;
        height: auto;
      }

      a {
        z-index: 1000;
      }

      a:hover ~ img {
        animation: spazz 7s steps(1) infinite;
      }

      h3 {
        color: vars.$accent-color;
        font-size: 1.7rem;
      }

      p {
        color: vars.$text-color;
        font-family: vars.$fancy-font;
        font-size: 1.2rem;
      }
    }
  }

  .more-info {
    align-self: flex-end;
  }

  .concerts-soon {
    font-size: 2rem;
    font-family: vars.$fancy-font;
  }


}

.rehearsal {
  position: relative;
  height: 100vmax;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 8rem;

  .title-link {
    margin-left: 1rem;
  }

  &__text {
    padding: 1em;
    font-size: 1.8rem;
    line-height: vars.$line-height;
    bottom: 0;
  }


}

.blog {
  padding-top: 10em;
  margin: 0 2rem;

}

footer {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 8rem;
  padding-bottom: 0;
  scroll-snap-align: start;
  position: relative;

  .logo {
    display: none;
  }
}

@media (min-width: map_get(vars.$screen-size, 'm')) {

  .more-info {
    a {
      font-size: 2rem;
    }
  }
  .text-overlay {
    width: 45%;
    font-size: 2.5rem;
  }
  .concerts {
    .container {
      .concert {
        display: flex;
        align-items: start;

        img {
          margin-bottom: 2rem;
          margin-right: 2rem;
        }

        a {
          padding-top: 1rem;
          display: flex;
          flex-wrap: wrap;
          align-items: end;
        }

        h3 {
          font-size: 2rem;

        }

        p {
          color: vars.$text-gray;
          font-family: vars.$fancy-font;
          font-size: 1.5rem;
        }
      }
    }


  }

}

@media (min-width: map_get(vars.$screen-size, 'l')) {
  .landing {
    height: 100vmin;
    box-sizing: border-box;

    &__text {
      top: 50%;
      transform: translateY(-50%);
      left: 36vmax;
      font-size: 3rem;
      max-width: 20em;
    }
  }
  .landing, .rehearsal {
    img {
      height: 100vmin;
      width: 100vmin;
      max-width: 60vw;
      object-fit: cover;
    }
  }

  .concerts {
    height: 100vmin;
    padding: 6rem 4rem 2rem;

    .more-info a {
      margin-top: 0.5em;
    }

    .container {
      justify-content: space-around;

      .concert {
        width: 25%;
        height: auto;


        img {
          margin: 0;
        }

      }
    }
  }

  .rehearsal {
    height: 100vmin;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;

    .title-link {
      margin-top: 25vmin;
    }

    &__text {
      left: auto;
      right: 0;
      top: 35vmin;
      width: calc(100vmax - 111vmin);
      min-width: 36.5rem;

    }
  }

  .blog {
    width: 90%;
    margin: 0 auto;
  }


}

@media (min-width: map_get(vars.$screen-size, 'xl')) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}